/* Content section */
.content {
    flex: 1; 
    padding: 30px 40px; 
     background-color: #fff;
    height: 100vh;
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    background-color: #f7fafc; 
    margin: 0;
}

.header-activity {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Search box */
.search-box {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    max-width: 100%; 
    width: 100%;
}

.search-box input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 5px;
    width: 100%; 
}

.search-box .icon {
    color: #467AFB;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

/* Notification */
.notification {
    color: #526d82;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification .icon {
    font-size: 18px;
    transition: 0.5s ease-in-out;
}

.icon:hover {
    transform: scale(1.3);
    cursor: pointer;
}

/* Card container and cards */
.card-container {
    display: flex;
    flex-wrap: wrap; /* Allows the cards to wrap within the row */
    gap: 20px;
    margin-top: 2rem;
    justify-content: space-around; /* Ensures cards are spread evenly */
}

.card {
    flex: 1 1 280px; /* Allows cards to shrink and grow, with a minimum width */
    background-color: #F4F6FA;;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: 0.5s ease-in-out;
    max-width: 100%; /* Ensures the card does not overflow */
}

.card:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.card-cover {
    display: flex;
    align-items: center;
    background: #fff;
    font-size: 3rem;
    border-radius: 20px;
    justify-content: center;
    padding: 20px;
    color: #3f3f44;
}

.card-title {
    background-color: #fff;
    width: 100%;
    padding: 10px 12px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    color: #526d82;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .content {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column; /* Stacks the cards on smaller screens */
    }
    .header-menu {
        height: auto;
    }
    .content {
        width: 100%;
    }
}
